<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<title>About | Tinju Tinja</title>
<link href="css/fontAttach/style.css" rel="stylesheet" type="text/css">
<link href="css/tinjutinja.css" rel="stylesheet" type="text/css">
<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<link href="css/selectordie.css" rel="stylesheet" type="text/css">
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/selectordie.min.js"></script>
<script src="js/main.js"></script>
</head>

<body>
	<div class="wrapper">
    	<header>
        	<div class="headerBox">
                <h1><a href="index.html" id="logo">Tinju Tinja</a></h1>
                <div class="headerRight">
                    <ul class="language">
                        <li><a href="#">IND</a></li>
                        <li><a href="#">ENG</a></li>
                    </ul>
                    <div class="menuBtn">
                    	<span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <section id="aboutus">
        	<div class="container" id="aboutBanner">
            	<img src="../userdata/a2.png">
                <div class="captionBox small bigFont">
                	<span>DAMPAK DAN ANCAMAN BABS</span>
                </div>
            </div>
        	<div class="container">
            	<div class="content oHidden">
                	<div class="longBox">
                    	<div class="readWrapper">
                        	<div class="readBox">Baca Tentang</div>
                            <div class="selectRead">
                            	<select>
	                                <option>AKSI NASIONAL TINJU TINJA</option>
                                    <option>Dampak dan Ancaman BABS</option>
                                    <option>Keuntungan Bebas dari BABS</option>
                                    <option>Mereka yang terbebas dari BABS</option>
                                    <option>Press Release</option>
                                </select>
                            </div>
                        </div>
                    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p><br><p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p><br>
                    </div>
                    <div class="aboutLeftBox">
                        <div class="smallBox">
                            <h4>Bersama, kita bebaskan indonesia dari babs yang mengancam anak bangsa dengan aksi nasional tinju tinja</h4>
                        </div>
                        <div class="smallBox">
                            <h4>Ayo beraksi melawan B.A.B.S</h4>
                            <a href="#" class="button redBg">Berikan Komitmenmu!</a>
                            <a href="#" class="button grayBg">Ayo berekspresi!</a>
                            <a href="#" class="button darkblueBg">Sebarkan Sekarang!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        	<div class="footerBox">
            	<ul>
                	<li><a href="#">Home</a></li>
                	<li><a href="#">Tentang</a></li>
                	<li><a href="#">Berikan Aksi</a></li>
                	<li><a href="#">Dampak BABS di Indonesia</a></li>
                	<li><a href="#">Video</a></li>
                	<li><a href="#">Infografis</a></li>
                    <li><a href="#"><img src="images/logo_unicef.png"></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="menuWrapper">
    	<a href="#"><img src="images/logo_tinjutinja.png"></a>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Tentang</a></li>
                <li><a href="#">Berikan Aksi</a></li>
                <li><a href="#">Dampak BABS di Indonesia</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Infografis</a></li>
            </ul>
        </nav>
        <ul class="language">
            <li><a href="#">IND</a></li>
            <li><a href="#">ENG</a></li>
        </ul>
        <div class="sosmedBox">
            <ul>
                <li><a href="#" class="twitterBtn">Twitter</a></li>
                <li><a href="#" class="facebookBtn">Facebook</a></li>
                <li><a href="#" class="instagramBtn">Instagram</a></li>
            </ul>
        </div>
        <a href="#"><img src="images/logo_unicef.png"></a>
    </div>
    <div class="popupWrapper">
    	<div class="overlay"></div>
        <div class="popupBox" id="popupVideo">
        	<div class="videoWrapper">
            	<iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
            </div>
            <a href="#" class="closeBtn"></a>
        </div>
    </div>
</body>
</html>
