<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<title>Province | Tinju Tinja</title>
<link href="css/fontAttach/style.css" rel="stylesheet" type="text/css">
<link href="css/tinjutinja.css" rel="stylesheet" type="text/css">
<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<link href="css/selectordie.css" rel="stylesheet" type="text/css">
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/selectordie.min.js"></script>
<script src="js/main.js"></script>
</head>

<body>
	<div class="wrapper">
    	<header>
        	<div class="headerBox">
                <h1><a href="index.html" id="logo">Tinju Tinja</a></h1>
                <div class="headerRight">
                    <ul class="language">
                        <li><a href="#">IND</a></li>
                        <li><a href="#">ENG</a></li>
                    </ul>
                    <div class="menuBtn">
                    	<span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <section id="province">
        	<div class="container">
            	<div class="content">
                	<h3>Pelajari Dampak Buang Air Besar Sembarangan di Indonesia</h3>
                    <p>Sebagai negara dengan pelaku BABS tertinggi kedua di dunia, Indonesia terancam dampak negatif di berbagai provinsi yang bisa kamu pelajari di bawah ini.</p>
                    <div class="sliderProvinceBox">
                    	<div class="chooseProvinceBox">
                        	<div class="chooseProvince">Pilih Provinsi</div>
                            <div class="selectProvince">
                            	<select>
                                	<option>Semua</option>
                                	<option>Kalimantan</option>
                                   	<option>DKI Jakarta</option>
                                	<option>Jawa Barat</option>
                                	<option>Jawa Timur</option>
                                	<option>Jawa Tengah</option>
                                </select>
                            </div>  
                        </div>
                    	<ul>
                        	<li>
                            	<div class="sliderProvince">
                                	<div class="sliderProvinceRight">
                                    	<img src="../userdata/test.jpg">
                                        <div class="sprInfoBox">
                                        	<h2>Sorong</h2>
                                            <div class="sprInfo">
                                            	<h3>Anak indonesia usia 1-12 bulan meninggal <span>akibat diare yang disebabkan buang air besar sembarangan</span></h3>
                                            </div>
                                            <a href="province_detail.html" class="defBtn">Lebih Lanjut</a>
                                        </div>
                                    </div>
                                    <a href="#" class="sliderProvinceLeft">
                                    	<div class="splBox">
                                        	<div class="coverPicture"><img src="../userdata/test2.jpg"><div class="playBtn"></div></div>
                                        </div>
                                        <div class="splBox">
                                        	<div class="profilePicture">
                                            	<img src="../userdata/test3.jpg">
                                            </div>
                                            <span>Amir Budi</span>
                                            <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                        	<div class="nextBtn"><span></span></div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                            	<div class="sliderProvince">
                                	<div class="sliderProvinceRight">
                                    	<img src="../userdata/test.jpg">
                                        <div class="sprInfoBox">
                                        	<h2>Jakarta</h2>
                                            <div class="sprInfo">
                                            	<h3>Anak indonesia usia 1-12 bulan meninggal <span>akibat diare yang disebabkan buang air besar sembarangan</span></h3>
                                            </div>
                                            <a href="province_detail.html" class="defBtn">Lebih Lanjut</a>
                                        </div>
                                    </div>
                                    <a href="#" class="sliderProvinceLeft">
                                    	<div class="splBox">
                                        	<div class="coverPicture"><img src="../userdata/test4.jpg"></div>
                                        </div>
                                        <div class="splBox">
                                        	<div class="profilePicture">
                                            	<img src="../userdata/test3.jpg">
                                            </div>
                                            <span>Amir Budi</span>
                                            <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                        	<div href="#" class="nextBtn"><span></span></div>
                                        </div>
                                    </a>
                               	</div>
                            </li>
                            <li>
                            	<div class="sliderProvince">
                                	<div class="sliderProvinceRight">
                                    	<img src="../userdata/test.jpg">
                                        <div class="sprInfoBox">
                                        	<h2>Sorong</h2>
                                            <div class="sprInfo">
                                            	<h3>Anak indonesia usia 1-12 bulan meninggal <span>akibat diare yang disebabkan buang air besar sembarangan</span></h3>
                                            </div>
                                            <a href="province_detail.html" class="defBtn">Lebih Lanjut</a>
                                        </div>
                                    </div>
                                    <a href="#" class="sliderProvinceLeft">
                                    	<div class="splBox">
                                        	<div class="coverPicture"><img src="../userdata/test4.jpg"></div>
                                        </div>
                                        <div class="splBox">
                                        	<div class="profilePicture">
                                            	<img src="../userdata/test3.jpg">
                                            </div>
                                            <span>Amir Budi</span>
                                            <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                        	<div href="#" class="nextBtn"><span></span></div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                            	<div class="sliderProvince">
                                	<div class="sliderProvinceRight">
                                    	<img src="../userdata/test.jpg">
                                        <div class="sprInfoBox">
                                        	<h2>Jakarta</h2>
                                            <div class="sprInfo">
                                            	<h3>Anak indonesia usia 1-12 bulan meninggal <span>akibat diare yang disebabkan buang air besar sembarangan</span></h3>
                                            </div>
                                            <a href="province_detail.html" class="defBtn">Lebih Lanjut</a>
                                        </div>
                                    </div>
                                    <a href="#" class="sliderProvinceLeft">
                                    	<div class="splBox">
                                        	<div class="coverPicture"><img src="../userdata/test4.jpg"></div>
                                        </div>
                                        <div class="splBox">
                                        	<div class="profilePicture">
                                            	<img src="../userdata/test3.jpg">
                                            </div>
                                            <span>Amir Budi</span>
                                            <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                        	<div href="#" class="nextBtn"><span></span></div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="loadMore">
                        	Load More
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        	<div class="footerBox">
            	<ul>
                	<li><a href="#">Home</a></li>
                	<li><a href="#">Tentang</a></li>
                	<li><a href="#">Berikan Aksi</a></li>
                	<li><a href="#">Dampak BABS di Indonesia</a></li>
                	<li><a href="#">Video</a></li>
                	<li><a href="#">Infografis</a></li>
                    <li><a href="#"><img src="images/logo_unicef.png"></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="menuWrapper">
    	<a href="index.html"><img src="images/logo_tinjutinja.png"></a>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Tentang</a></li>
                <li><a href="take_action.html">Berikan Aksi</a></li>
                <li><a href="#">Dampak BABS di Indonesia</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Infografis</a></li>
            </ul>
        </nav>
        <ul class="language">
            <li><a href="#">IND</a></li>
            <li><a href="#">ENG</a></li>
        </ul>
        <div class="sosmedBox">
            <ul>
                <li><a href="#" class="twitterBtn">Twitter</a></li>
                <li><a href="#" class="facebookBtn">Facebook</a></li>
                <li><a href="#" class="instagramBtn">Instagram</a></li>
            </ul>
        </div>
        <a href="#"><img src="images/logo_unicef.png"></a>
    </div>
    <div class="popupWrapper">
    	<div class="overlay"></div>
        <div class="popupBox" id="popupVideo">
        	<div class="videoWrapper">
            	<iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
            </div>
            <a href="#" class="closeBtn"></a>
        </div>
    </div>
</body>
</html>
