<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<title>Take Action | Tinju Tinja</title>
<link href="css/fontAttach/style.css" rel="stylesheet" type="text/css">
<link href="css/tinjutinja.css" rel="stylesheet" type="text/css">
<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<link href="css/selectordie.css" rel="stylesheet" type="text/css">
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/selectordie.min.js"></script>
<script src="js/main.js"></script>
</head>


<body>
	<div class="wrapper">
    	<header>
        	<div class="headerBox">
                <h1><a href="index.html" id="logo">Tinju Tinja</a></h1>
                <div class="headerRight">
                    <ul class="language">
                        <li><a href="#">IND</a></li>
                        <li><a href="#">ENG</a></li>
                    </ul>
                    <div class="menuBtn">
                    	<span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <section id="take_action">
        	<div class="container" id="takeactionBanner">
                <img src="../userdata/t1.png">
                <div class="sliderInfoBox">
                	<div class="sliderInfoLeftWrapper">
                		<div class="sliderInfoLeftBox">
                   		<div class="sliderInfoLeft desktop">
                            <span>Lawan babs dengan aksimu!</span><br>
        Ayo bergabung dengan Aksi Nasional Tinju Tinja, bersama kita bebaskan Indonesia dari ancaman Buang Air Besar Sembarangan!
                            </div>
                    	</div>
                    </div>
                    <div class="sliderInfoRightWrapper">
                        <div class="sliderInfoRightBox">
                    		<div class="sliderInfoRight">
                    	7280
                        <span>Aksi telah diberikan</span>
                    </div>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="container">
            	<div class="takeactionWrapper">
                	<ul class="tabNav">
                    	<li id="tabPledge" class="active"><a href="#tabs-1">Pledge</a></li>
                        <li id="tabContribute"><a href="#tabs-2">Contribute</a></li>
                        <li id="tabShare"><a href="#tabs-3">Share</a></li>
                    </ul>
                    <div class="takeactionBox" id="tabs-1">
                    	<div class="content pledgeContent">
                        	<p>Suarakan komitmenmu dalam memerangi BABS di Indonesia bersama Aksi Nasional Tinju Tinja di akun media sosialmu, agar lebih banyak orang lagi yang memberikan aksi mereka untuk anak bangsa!</p>
            <a href="#" class="connectBtn twitter"><span>Pledge Dengan Twitter</span></a>
            <a href="#" class="connectBtn facebook"><span>Pledge Dengan Facebook</span></a>
                        </div>
                    </div>
                    <div class="takeactionBox" id="tabs-2">
                    	<div class="contributeContent">
                        	<div class="contributeWrapper">
                            	<ul class="subTabNav">
                                	<li class="active"><a href="#subTab-1">Caranya</a></li>
                                	<li><a href="#subTab-2">Ayo Berekspresi!</a></li>
                                	<li><a href="#subTab-3">Lihat Galeri</a></li>
                                </ul>
                                <div class="subTabBox" id="subTab-1">
                                	<div class="content">
                                    	<p>Buang air besar sembarangan (BABS) terjadi di seluruh pelosok Indonesia, dan bahayanya mengancam banyak jiwa, terutama anak-anak yang merupakan masa depan bangsa. Jika kita berhasil mencapai Indonesia bebas BABS, ada banyak dampak positif yang bisa kita semua nikmati.</p><br>
                                        <p>Mari beraksi bersama, dukung Indonesia dalam melawan BABS! Ungkapkan bentuk dukunganmu untuk saudara-saudara kita yang ada di pelosok Indonesia yang kamu cintai!</p><br>
                                        <ol>
                                        	<li><h5>PELAJARI ISU BABS</h5>
                                            <p>Isu BABS memang tak terlihat di depan mata, namun diam-diam bahayanya mengancam banyak jiwa. Ayo buka mata dan telinga terhadap isu BABS dengan beragam fakta BABS di sini! Pahami bagaimana isu BABS mengancam tempat kelahiran kita, dan membahayakan saudara-saudara kita yang ada di seluruh pelosok Indonesia.</p></li>
                                            <li><h5>BUAT KARYA EKSPRESI</h5>
                                            <p>Ungkapkan ide, dukungan, ataupun pesan mengenai isu BABS yang ingin kamu sampaikan ke saudara kita di daerahmu atau di bagian Indonesia manapun, dengan media kreasi yang paling pas untukmu.
Berbagai contoh ekspresi positif di bawah ini bisa menjadi sumber inspirasimu.</p>
                                            </li>
                                        </ol>
                                   	</div>
                                    <div class="exampleBox">
                                    	<div class="content">
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test4.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test4.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test4.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                    	</div>
                                    </div>
                                    <div class="content">
                                        <ol start="3">
                                        	<li><h5>KIRIMKAN KONTRIBUSIMU</h5>
                                            <p>Langsung kirimkan hasil karyamu <a href="#">di sini</a>, dengan mengikuti format yang ada dan mengisi data yang diperlukan.</p></li>
                                            <li><h5>SEBARKAN!</h5>
                                            <p>Sebarkan hasilnya ke berbagai media sosial, agar lebih banyak yang ikut berpartisipasi dalam melawan BABS!</p><br>
                                            </li>
                                        </ol>
                                        <p>UNICEF akan memilih hasil karya terbaik dari semua kontribusi yang telah kami terima, untuk kami bawa langsung ke tempat penyuluhan kami di lapangan untuk membantu melawan BABS, dan akan kami dokumentasikan lewat akun media sosial kami.</p><br>
                                    </div>
                                    <a href="#" class="lightBlueBtn">Ayo Berekspresi!</a>
                                </div>
                                <div class="subTabBox" id="subTab-2">
                                	<div class="content">
                                    	<p>Untuk berpartisipasi, daftarkan diri kamu menggunakan akun media sosialmu.</p>
                                    	<a href="#" class="connectBtn twitter"><span>Daftar dengan Twitter</span></a>
           								<a href="#" class="connectBtn facebook"><span>Daftar Dengan Facebook</span></a>
            						</div>
                                </div>
                                <div class="subTabBox" id="subTab-3">
                                	<div class="content">
                                    	<p>Semua karya di bawah ini adalah kumpulan kontribusi dari semua sahabat Aksi Nasional Tinju Tinja yang ikut berjuang bersama membebaskan Indonesia dari ancaman BABS! Tunjukkan juga kontribusimu, ikuti caranya <a href="#" class="blueColor">di sini.</a></p>
										<div class="fullBox">
                                        	<div class="selectBox">
                                            	<div class="chooseProvince">Jenis Konten</div>
                                                <div class="selectProvince">
                                                    <select>
                                                        <option>Semua</option>
                                                        <option>Konten 1</option>
                                                        <option>Konten 2</option>
                                                        <option>Konten 3</option>
                                                        <option>Konten 4</option>
                                                        <option>Konten 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="selectBox">
                                            	<div class="chooseProvince">Provinsi</div>
                                                <div class="selectProvince">
                                                    <select>
                                                        <option>Semua</option>
                                                        <option>Kalimantan</option>
                                                        <option>DKI Jakarta</option>
                                                        <option>Jawa Barat</option>
                                                        <option>Jawa Timur</option>
                                                        <option>Jawa Tengah</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galleryBox">
                                            <div class="sliderProvinceLeft">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <div class="splBox">
                                                    <div class="profilePicture">
                                                        <img src="../userdata/test3.jpg">
                                                    </div>
                                                    <span>Amir Budi</span>
                                                    <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                                    <a href="#" class="nextBtn"><span></span></a>
                                                </div>
                                            </div>
                                            <div class="sliderProvinceLeft">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test4.jpg"></a>
                                                </div>
                                                <div class="splBox">
                                                    <div class="profilePicture">
                                                        <img src="../userdata/test3.jpg">
                                                    </div>
                                                    <span>Amir Budi</span>
                                                    <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                                    <a href="#" class="nextBtn"><span></span></a>
                                                </div>
                                            </div>
                                            <div class="sliderProvinceLeft">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <div class="splBox">
                                                    <div class="profilePicture">
                                                        <img src="../userdata/test3.jpg">
                                                    </div>
                                                    <span>Amir Budi</span>
                                                    <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                                    <a href="#" class="nextBtn"><span></span></a>
                                                </div>
                                            </div>
                                            <div class="sliderProvinceLeft">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <div class="splBox">
                                                    <div class="profilePicture">
                                                        <img src="../userdata/test3.jpg">
                                                    </div>
                                                    <span>Amir Budi</span>
                                                    <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                                    <a href="#" class="nextBtn"><span></span></a>
                                                </div>
                                            </div>
                                            <div class="sliderProvinceLeft">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test4.jpg"></a>
                                                </div>
                                                <div class="splBox">
                                                    <div class="profilePicture">
                                                        <img src="../userdata/test3.jpg">
                                                    </div>
                                                    <span>Amir Budi</span>
                                                    <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                                    <a href="#" class="nextBtn"><span></span></a>
                                                </div>
                                            </div>
                                            <div class="sliderProvinceLeft">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <div class="splBox">
                                                    <div class="profilePicture">
                                                        <img src="../userdata/test3.jpg">
                                                    </div>
                                                    <span>Amir Budi</span>
                                                    <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                                    <a href="#" class="nextBtn"><span></span></a>
                                                </div>
                                            </div>
                                            <div class="sliderProvinceLeft">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <div class="splBox">
                                                    <div class="profilePicture">
                                                        <img src="../userdata/test3.jpg">
                                                    </div>
                                                    <span>Amir Budi</span>
                                                    <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                                    <a href="#" class="nextBtn"><span></span></a>
                                                </div>
                                            </div>
                                            <div class="sliderProvinceLeft">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test4.jpg"></a>
                                                </div>
                                                <div class="splBox">
                                                    <div class="profilePicture">
                                                        <img src="../userdata/test3.jpg">
                                                    </div>
                                                    <span>Amir Budi</span>
                                                    <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                                    <a href="#" class="nextBtn"><span></span></a>
                                                </div>
                                            </div>
                                            <div class="sliderProvinceLeft">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <div class="splBox">
                                                    <div class="profilePicture">
                                                        <img src="../userdata/test3.jpg">
                                                    </div>
                                                    <span>Amir Budi</span>
                                                    <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari...</p>
                                                    <a href="#" class="nextBtn"><span></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="loadMore">Load More</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="takeactionBox" id="tabs-3">
                    	<div class="content">
                        	<p>Semakin banyak orang yang tahu mengenai bahaya BABS, makin banyak aksi yang bisa kita kumpulkan! Pilih fakta di bawah ini dan sebarkan di akun media sosialmu.</p>
                            <div class="content oHidden">
                            	<div class="factsBox">
                                	<h3>Fakta #1</h3>
                                    <div class="factsImgCon">
                                    	<div class="factsImg">
                                        	<img src="../userdata/h.jpg">
                                        </div>
                                    </div>
                                    <h4><span>31% Anak Indonesia usia 1-12 bulan meninggal</span> akibat diare yang disebabkan buang air besar sembarangan</h4>
                                    <div class="buttonWrapper">
                                    	<a href="#" class="twitter smallBtn"><span>Share</span></a>
                                    	<a href="#" class="facebook smallBtn"><span>Share</span></a>
                                    </div>
                                </div>
                                <div class="factsBox">
                                	<h3>Fakta #2</h3>
                                    <div class="factsImgCon">
                                    	<div class="factsImg">
                                        	<img src="../userdata/h.jpg">
                                        </div>
                                    </div>
                                    <h4><span>31% Anak Indonesia usia 1-12 bulan meninggal</span> akibat diare yang disebabkan buang air besar sembarangan</h4>
                                    <div class="buttonWrapper">
                                    	<a href="#" class="twitter smallBtn"><span>Share</span></a>
                                    	<a href="#" class="facebook smallBtn"><span>Share</span></a>
                                    </div>
                                </div>
                                <div class="factsBox">
                                	<h3>Fakta #3</h3>
                                    <div class="factsImgCon">
                                    	<div class="factsImg">
                                        	<img src="../userdata/h.jpg">
                                        </div>
                                    </div>
                                    <h4><span>31% Anak Indonesia usia 1-12 bulan meninggal</span> akibat diare yang disebabkan buang air besar sembarangan</h4>
                                    <div class="buttonWrapper">
                                    	<a href="#" class="twitter smallBtn"><span>Share</span></a>
                                    	<a href="#" class="facebook smallBtn"><span>Share</span></a>
                                    </div>
                                </div>
                                <div class="factsBox">
                                	<h3>Fakta #4</h3>
                                    <div class="factsImgCon">
                                    	<div class="factsImg">
                                        	<img src="../userdata/h.jpg">
                                        </div>
                                    </div>
                                    <h4><span>31% Anak Indonesia usia 1-12 bulan meninggal</span> akibat diare yang disebabkan buang air besar sembarangan</h4>
                                    <div class="buttonWrapper">
                                    	<a href="#" class="twitter smallBtn"><span>Share</span></a>
                                    	<a href="#" class="facebook smallBtn"><span>Share</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        	<div class="footerBox">
            	<ul>
                	<li><a href="#">Home</a></li>
                	<li><a href="#">Tentang</a></li>
                	<li><a href="#">Berikan Aksi</a></li>
                	<li><a href="#">Dampak BABS di Indonesia</a></li>
                	<li><a href="#">Video</a></li>
                	<li><a href="#">Infografis</a></li>
                    <li><a href="#"><img src="images/logo_unicef.png"></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="menuWrapper">
    	<a href="index.html"><img src="images/logo_tinjutinja.png"></a>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Tentang</a></li>
                <li><a href="take_action.html">Berikan Aksi</a></li>
                <li><a href="#">Dampak BABS di Indonesia</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Infografis</a></li>
            </ul>
        </nav>
        <ul class="language">
            <li><a href="#">IND</a></li>
            <li><a href="#">ENG</a></li>
        </ul>
        <div class="sosmedBox">
            <ul>
                <li><a href="#" class="twitterBtn">Twitter</a></li>
                <li><a href="#" class="facebookBtn">Facebook</a></li>
                <li><a href="#" class="instagramBtn">Instagram</a></li>
            </ul>
        </div>
        <a href="#"><img src="images/logo_unicef.png"></a>
    </div>
    <div class="popupWrapper">
    	<div class="overlay"></div>
        <div class="popupBox" id="popupPledgeComplete" style="display:none;">
            <h3>Pledge</h3>
                <p>Terima kasih atas komitmenmu dalam memerangi BABS!<br>
    Lanjutkan aksimu dengan memberi kontribusi <a href="http://staging.isysedge.com/tinjutinja/contribution">di sini</a>, <br>
    dan sebarkan fakta mengenai BABS melalu media sosialmu <a href="http://staging.isysedge.com/tinjutinja/contribution/facts">di sini</a></p>
                <a href="#" class="closeBtn"></a>
        </div>
        
        <div class="popupBox" id="popupContributeComplete" style="display:none;">
            <h3>Contribute</h3>
                <p>Terima kasih!<br> Kontribusimu dalam memerangi BABS telah kami terima.<br>Lihat kontribusi <a href="http://staging.isysedge.com/tinjutinja/contribution/contribute/gallery">di galeri</a><br> dan sebarkan fakta mengenai BABS melalui media sosialmu <a href="http://staging.isysedge.com/tinjutinja/contribution/facts">di sini</a></p>
                <a href="#" class="closeBtn"></a>
        </div>
    </div>
    
    <script>
	
$(document).ready(function(e) {
    
	createTabAction();
	createSubTab();
});</script>
</body>
</html>
