<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<title>Take Action | Tinju Tinja</title>
<link href="css/fontAttach/style.css" rel="stylesheet" type="text/css">
<link href="css/tinjutinja.css" rel="stylesheet" type="text/css">
<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<link href="css/selectordie.css" rel="stylesheet" type="text/css">
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/selectordie.min.js"></script>
<script src="js/main.js"></script>
</head>

<body>
	<div class="wrapper">
    	<header>
        	<div class="headerBox">
                <h1><a href="index.html" id="logo">Tinju Tinja</a></h1>
                <div class="headerRight">
                    <ul class="language">
                        <li><a href="#">IND</a></li>
                        <li><a href="#">ENG</a></li>
                    </ul>
                    <div class="menuBtn">
                    	<span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <section id="take_action">
        	<div class="container" id="takeactionBanner">
                <img src="../userdata/test7.jpg">
                <div class="sliderInfoBox">
                    <div class="sliderInfoLeft">
                    Lawan babs dengan aksimu! <span>Bergabunglah dengan Aksi Nasional Tinju Tinja, dan bersama bebaskan Indonesia dari BABS (Buang Air Besar Sembarangan) yang mengancam anak bangsa! Pilih aksi di bawah ini dan berikan aksimu sekarang!</span>
                    </div>
                    <div class="sliderInfoRight">
                    	7280
                        <span>Aksi telah diberikan</span>
                    </div>
                </div>
            </div>
            <div class="container">
            	<div class="takeactionWrapper">
                	<ul class="tabNav">
                    	<li id="tabPledge" class="active"><a href="#tabs-1">Pledge</a></li>
                        <li id="tabContribute"><a href="#tabs-2">Contribute</a></li>
                        <li id="tabShare"><a href="#tabs-3">Share</a></li>
                    </ul>
                    <div class="takeactionBox" id="tabs-1">
                    	<div class="content pledgeContent">
                        	<div class="pledgeShare">
                        	<p>Suarakan komitmenmu dalam memerangi BABS di Indonesia di akun media sosialmu, dan ajak lebih banyak orang untuk beraksi demi Indonesia bebas BABS!</p>
                            <div class="grayBox">
                         Saya siap melawan B.A.B Sembarangan yang mengancam Indonesia!<br>Gabung di #AksiNasional #TinjuTinja www.tinjutinja.com, let's #FightBABS!
                        </div>
                            <a href="#" class="connectBtn twitter"><span>Share Pledge Di Twitter</span></a>
                            <a href="#" class="connectBtn facebook"><span>Share Pledge Di Facebook</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="takeactionBox" id="tabs-2">
                    	<div class="contributeContent">
                        	<div class="contributeWrapper">
                            	<ul class="subTabNav">
                                	<li class="active"><a href="#subTab-1">Caranya</a></li>
                                	<li><a href="#subTab-2">Ayo Berekspresi!</a></li>
                                	<li><a href="#subTab-3">Lihat Galeri</a></li>
                                </ul>
                                <div class="subTabBox" id="subTab-1">
                                	<div class="content">
                                    	<p>Kamu bisa berkontribusi lebih lanjut  dalam melawan BABS dengan aksimu sendiri. Di sini, kami mengundang kamu untuk bebas berekspresi melalui berbagai media dengan karyamu untuk memerangi BABS! Semua bentuk ekspresi yang berhasil dikumpulkan akan kami pilih dan bawa langsung bersama tim kami ke tempat penyuluhan BABS di pelosok Indonesia sebagai bentuk dukungan kita dalam memerangi BABS bersama.</p><br>Caranya? Ikuti langkah berikut:
                                        <ol>
                                        	<li>Pelajari isu BABS yang terjadi di mana saja, baik di lingkungan sekitar, kampung halaman, atau di berbagai pelosok daerah Indonesia di sini. Makin banyak kamu tahu, semakin kamu mengerti akan ancaman BABS!</li>
                                            <li>Buat ekspresi positif sebagai bentuk ekspresi dukunganmu untuk para saudara kita dalam melawan BABS. Kreasi ekspresi yang kamu berikan bisa dalam berbagai media, seperti gambar, tulisan, ataupun video. Kamu juga bisa tujukan khusus ke daerah tertentu, ataupun ke seluruh Indonesia! Berbagai contoh ekspresi positif di bawah ini bisa menjadi inspirasimu.</li>
                                        </ol>
                                   	</div>
                                    <div class="exampleBox">
                                    	<div class="content">
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test4.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test4.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test2.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                            <div class="example">
                                                <div class="splBox">
                                                    <a href="#" class="coverPicture"><img src="../userdata/test4.jpg"></a>
                                                </div>
                                                <h5>Amir Budi</h5>
                                            </div>
                                    	</div>
                                    </div>
                                    <div class="content">
                                        <ol start="3">
                                        	<li>Kirimkan ekspresimu sambil mengisi informasi yang diperlukan di sini, lalu kamu bisa melihat bentuk ekspresimu di galeri bersama aneka kreasi dari pasukan Aksi Nasional Tinju Tinja lainnya.</li>
                                            <li>Sebarkan ekspresimu ke berbagai media sosial agar lebih banyak orang yang tahu mengenai ancaman isu BABS, dan bisa lebih banyak orang yang ikutan!</li>
                                        </ol>
                                    </div>
                                    <a href="#" class="lightBlueBtn">Ayo Berekspresi!</a>
                                </div>
                                <div class="subTabBox" id="subTab-2">
                                	<div class="content">
                                    	<div class="smallContent">
                                        	<p>Isi formulir di bawah ini dengan informasi yang kami perlukan.</p>
                                        	<table>
                                            	<tr>
                                                	<td>Nama :</td>
                                                	<td><input type="text"class="grayTxtBg" value="Berdasarkan Facebook / Twitter Connect"></td>
                                                </tr>
                                                <tr>
                                                	<td>Email :</td>
                                                	<td><input type="text" class="grayTxtBg" value="Berdasarkan Facebook / Twitter Connect"></td>
                                                </tr>
                                            </table>
                                        </div>
            						</div>
                                    <div class="grayBox">
                                    	<p>Ekspresikan ide, pendapat, dukungan, atau karya kreasimu dalam bentuk tulisan mengenai isu BABS di sini:</p>
                                        <div class="smallContent">
                                        	<textarea></textarea>
                                        </div>
                                    </div>
                                    <div class="grayBox">
                                    	<p>Jika kamu memiliki karya ekspresi dalam format image (foto, gambar, komik, poster, infografis, dll),<br>bisa kamu upload di sini.</p>
                                        <div class="smallContent">
                                        	<table>
                                            	<tr>
                                                	<td>Upload ekspresimu:</td>
                                                    <td>
                                                    	<div class="browse-wrap">
                                                        	<span class="upload-path">Berupa gambar atau foto</span>
                            								<a href="#" class="lightBlueBtn">Browse</a>
                            								<input id="take-picture" type="file" accept="image/*" name="upload" class="upload" title="Choose a file to upload">
                                                        </div>
                                                        <p id="error"></p>
                                                        <div class="photoPreview">
                                                            <img src="about:blank" id="capturedPhoto">
                                                        </div>
                                                	</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <p>Untuk karya ekspresi dalam format lagu dan video, upload karyamu di Youtube milikmu<br>dan tulis link Youtube karyamu di sini.</p>
                                        <div class="smallContent">
                                            <table>
                                                <tr>
                                                    <td>Berikan link Youtube:</td>
                                                    <td><input type="text" placeholder="Berupa Lagu atau video"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="grayBox" id="section_four">
                                    	<p>Pilih daerah tertentu yang kamu dukung, jika karyamu ditujukan khusus untuk satu daerah saja.</p>
                                        <div class="smallContent">
                                        	<div class="placeBox">
                                            	<select>
                                                	<option>Semua</option>
                                                	<option>Aceh</option>
                                                	<option>Alor</option>
                                                	<option>Bandung</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="smallContent oHidden">
                                    	<a href="#" class="lightBlueBtn submitBtn">Submit</a>
                                        <p>Jika masih bingung, kamu bisa membaca kembali caranya <a href="#">di sini</a>,
atau hubungi kami melalui <a href="#">Twitter</a> dan <a href="#">Facebook</a> UNICEF Indonesia.
                                    </div>
                                </div>
                                <div class="subTabBox" id="subTab-3">
                                	<div class="content">
                                    	<div class="fullBox">
                                        	<a href="#" class="galleryBtn"><span>Lihat Galeri</span></a>
                                        </div>
                                        <div class="galleryBox">
                                        	<div id="galleryDetail">
                                            	<div class="galleryDetailBox">
                                                   		<div class="coverPicture">
                                                        	<img src="../userdata/test2.jpg">
                                                        </div>
                                                        <div class="galleryDetail">
                                                        	<div class="profilePicture">
                                                            	<img src="../userdata/test3.jpg">
                                                            </div>
                                                            <div class="profileInfo">
                                                            	<h3>Amir Budi</h3>
                                                                <p>Jangan rusak keindahan bumi pertiwi dengan aksi BABS. Selamatkan Indonesia dari kebiasaan BABS #antitinja</p>
                                                            </div>
                                                        </div>
                                                        <div class="buttonWrapper">
                                                        	<a href="#" class="smallBtn like"><span>23</span><span>Like</span></a>
                                                        	<a href="#" class="smallBtn facebook"><span>Share</span></a>
                                                        	<a href="#" class="smallBtn twitter"><span>Share</span></a>
                                                        </div>
                                                    </div>
                                            </div>
                                            <a href="#" class="leftArrow">Previous</a>
                                            <a href="#" class="rightArrow">Next</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="takeactionBox" id="tabs-3">
                    	<div class="content">
                        	<p>Semakin banyak orang yang tahu mengenai bahaya BABS, makin banyak aksi yang bisa kita kumpulkan! Pilih fakta di bawah ini dan sebarkan di akun media sosialmu.</p>
                            <div class="content oHidden">
                            	<div class="factsBox">
                                	<h3>Fakta #1</h3>
                                    <div class="factsImgCon">
                                    	<div class="factsImg">
                                        	<img src="../userdata/h.jpg">
                                        </div>
                                        <div class="factsInfoBox">
                                        	<div class="factsInfo">
                                            	<div class="factsInfoTop">
                                                	<span class="bigFont">31%</span>
                                                	<span>Anak Indonesia Usia<br>1 - 12 Bulan Meninggal</span><br>Akibat diare yang disebabkan Buang air Besar Sembarang
                                                </div>
                                                <div class="factsInfoBot">
                                                	<div class="halfBox">
                                                    	<a href="#" class="halfBtn"><img src="images/icon_unicef_white.png"></a>
                                                    </div>
                                                    <div class="halfBox">
                                                    	<a href="#" class="halfBtn"><img src="images/icon_tinjutinja.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4>Aksi Nasional<br>Tinju Tinja</h4>
                                        </div>
                                    </div>
                                    <h4><span>31% Anak Indonesia usia 1-12 bulan meninggal</span> akibat diare yang disebabkan buang air besar sembarangan</h4>
                                    <div class="buttonWrapper">
                                    	<a href="#" class="twitter smallBtn"><span>Share</span></a>
                                    	<a href="#" class="facebook smallBtn"><span>Share</span></a>
                                    </div>
                                </div>
                                <div class="factsBox">
                                	<h3>Fakta #2</h3>
                                    <div class="factsImgCon">
                                    	<div class="factsImg">
                                        	<img src="../userdata/h.jpg">
                                        </div>
                                        <div class="factsInfoBox">
                                        	<div class="factsInfo">
                                            	<div class="factsInfoTop">
                                                	<span class="bigFont">31%</span>
                                                	<span>Anak Indonesia Usia<br>1 - 12 Bulan Meninggal</span><br>Akibat diare yang disebabkan Buang air Besar Sembarang
                                                </div>
                                                <div class="factsInfoBot">
                                                	<div class="halfBox">
                                                    	<a href="#" class="halfBtn"><img src="images/icon_unicef_white.png"></a>
                                                    </div>
                                                    <div class="halfBox">
                                                    	<a href="#" class="halfBtn"><img src="images/icon_tinjutinja.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4>Aksi Nasional<br>Tinju Tinja</h4>
                                        </div>
                                    </div>
                                    <h4><span>31% Anak Indonesia usia 1-12 bulan meninggal</span> akibat diare yang disebabkan buang air besar sembarangan</h4>
                                    <div class="buttonWrapper">
                                    	<a href="#" class="twitter smallBtn"><span>Share</span></a>
                                    	<a href="#" class="facebook smallBtn"><span>Share</span></a>
                                    </div>
                                </div>
                                <div class="factsBox">
                                	<h3>Fakta #3</h3>
                                    <div class="factsImgCon">
                                    	<div class="factsImg">
                                        	<img src="../userdata/h.jpg">
                                        </div>
                                        <div class="factsInfoBox">
                                        	<div class="factsInfo">
                                            	<div class="factsInfoTop">
                                                	<span class="bigFont">31%</span>
                                                	<span>Anak Indonesia Usia<br>1 - 12 Bulan Meninggal</span><br>Akibat diare yang disebabkan Buang air Besar Sembarang
                                                </div>
                                                <div class="factsInfoBot">
                                                	<div class="halfBox">
                                                    	<a href="#" class="halfBtn"><img src="images/icon_unicef_white.png"></a>
                                                    </div>
                                                    <div class="halfBox">
                                                    	<a href="#" class="halfBtn"><img src="images/icon_tinjutinja.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4>Aksi Nasional<br>Tinju Tinja</h4>
                                        </div>
                                    </div>
                                    <h4><span>31% Anak Indonesia usia 1-12 bulan meninggal</span> akibat diare yang disebabkan buang air besar sembarangan</h4>
                                    <div class="buttonWrapper">
                                    	<a href="#" class="twitter smallBtn"><span>Share</span></a>
                                    	<a href="#" class="facebook smallBtn"><span>Share</span></a>
                                    </div>
                                </div>
                                <div class="factsBox">
                                	<h3>Fakta #4</h3>
                                    <div class="factsImgCon">
                                    	<div class="factsImg">
                                        	<img src="../userdata/h.jpg">
                                        </div>
                                        <div class="factsInfoBox">
                                        	<div class="factsInfo">
                                            	<div class="factsInfoTop">
                                                	<span class="bigFont">31%</span>
                                                	<span>Anak Indonesia Usia<br>1 - 12 Bulan Meninggal</span><br>Akibat diare yang disebabkan Buang air Besar Sembarang
                                                </div>
                                                <div class="factsInfoBot">
                                                	<div class="halfBox">
                                                    	<a href="#" class="halfBtn"><img src="images/icon_unicef_white.png"></a>
                                                    </div>
                                                    <div class="halfBox">
                                                    	<a href="#" class="halfBtn"><img src="images/icon_tinjutinja.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4>Aksi Nasional<br>Tinju Tinja</h4>
                                        </div>
                                    </div>
                                    <h4><span>31% Anak Indonesia usia 1-12 bulan meninggal</span> akibat diare yang disebabkan buang air besar sembarangan</h4>
                                    <div class="buttonWrapper">
                                    	<a href="#" class="twitter smallBtn"><span>Share</span></a>
                                    	<a href="#" class="facebook smallBtn"><span>Share</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        	<div class="footerBox">
            	<ul>
                	<li><a href="#">Home</a></li>
                	<li><a href="#">Tentang</a></li>
                	<li><a href="#">Berikan Aksi</a></li>
                	<li><a href="#">Dampak BABS di Indonesia</a></li>
                	<li><a href="#">Video</a></li>
                	<li><a href="#">Infografis</a></li>
                    <li><a href="#"><img src="images/logo_unicef.png"></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="menuWrapper">
    	<a href="index.html"><img src="images/logo_tinjutinja.png"></a>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Tentang</a></li>
                <li><a href="take_action.html">Berikan Aksi</a></li>
                <li><a href="#">Dampak BABS di Indonesia</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Infografis</a></li>
            </ul>
        </nav>
        <ul class="language">
            <li><a href="#">IND</a></li>
            <li><a href="#">ENG</a></li>
        </ul>
        <div class="sosmedBox">
            <ul>
                <li><a href="#" class="twitterBtn">Twitter</a></li>
                <li><a href="#" class="facebookBtn">Facebook</a></li>
                <li><a href="#" class="instagramBtn">Instagram</a></li>
            </ul>
        </div>
        <a href="#"><img src="images/logo_unicef.png"></a>
    </div>
    <script>
	(function () {
    var takePicture = document.querySelector("#take-picture"),
		spanx = document.getElementsByClassName('upload-path'),
    	showPicture = document.querySelector("#capturedPhoto");

    if (takePicture && showPicture) {
        // Set events
        takePicture.onchange = function (event) {
            // Get a reference to the taken picture or chosen file
            var files = event.target.files,
                file;
            if (files && files.length > 0) {
                file = files[0];
                try {
                    // Get window.URL object
                    var URL = window.URL || window.webkitURL;

                    // Create ObjectURL
                    var imgURL = URL.createObjectURL(file);

                    // Set img src to ObjectURL
                    showPicture.src = imgURL;

			spanx[0].innerHTML = this.files[0].name;
                    // Revoke ObjectURL after imagehas loaded
                    showPicture.onload = function() {
                        URL.revokeObjectURL(imgURL);  
                    };
                }
                catch (e) {
                    try {
                        // Fallback if createObjectURL is not supported
                        var fileReader = new FileReader();
                        fileReader.onload = function (event) {
                            showPicture.src = event.target.result;
                        };
                        fileReader.readAsDataURL(file);
                    }
                    catch (e) {
                        // Display error message
                        var error = document.querySelector("#error");
                        if (error) {
                            error.innerHTML = "Neither createObjectURL or FileReader are supported";
                        }
                    }
                }
            }
        };
    }
})();
$(document).ready(function(e) {
    
	createTabAction();
	createSubTab();
});
	</script>
</body>
</html>
