<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="target-densitydpi=device-dpi; width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="HandheldFriendly" content="true" />
<title>Province | Tinju Tinja</title>
<link href="css/fontAttach/style.css" rel="stylesheet" type="text/css">
<link href="css/tinjutinja.css" rel="stylesheet" type="text/css">
<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<link href="css/selectordie.css" rel="stylesheet" type="text/css">
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/selectordie.min.js"></script>
<script src="js/main.js"></script>
</head>

<body>
	<div class="wrapper">
    	<header>
        	<div class="headerBox">
                <h1><a href="index.html" id="logo">Tinju Tinja</a></h1>
                <div class="headerRight">
                    <ul class="language">
                        <li><a href="#">IND</a></li>
                        <li><a href="#">ENG</a></li>
                    </ul>
                    <div class="menuBtn">
                    	<span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <section id="video">
        	<div class="container">
            	<div class="content">
                	<h3>Video</h3>
                    <p>Pelajari lebih lanjut mengenai isu BABS dengan menonton beragam video di bawah ini.<br>Sebarkan juga ke media sosialmu!</p>
                    <div class="videoBox">
                    	<ul>
                        	<li>
                            	<a href="#" class="coverPicture"><img src="../userdata/test9.jpg"></a>
                            	<a class="smallBtn twitter" href="#"><span>Share</span></a>
                                <a class="smallBtn facebook" href="#"><span>Share</span></a>
                            </li>
                            <li>
                            	<a href="#" class="coverPicture"><img src="../userdata/test9.jpg"></a>
                            	<a class="smallBtn twitter" href="#"><span>Share</span></a>
                                <a class="smallBtn facebook" href="#"><span>Share</span></a>
                            </li>
                            <li>
                            	<a href="#" class="coverPicture"><img src="../userdata/test9.jpg"></a>
                            	<a class="smallBtn twitter" href="#"><span>Share</span></a>
                                <a class="smallBtn facebook" href="#"><span>Share</span></a>
                            </li>
                            <li>
                            	<a href="#" class="coverPicture"><img src="../userdata/test9.jpg"></a>
                            	<a class="smallBtn twitter" href="#"><span>Share</span></a>
                                <a class="smallBtn facebook" href="#"><span>Share</span></a>
                            </li>
                            <li>
                            	<a href="#" class="coverPicture"><img src="../userdata/test9.jpg"></a>
                            	<a class="smallBtn twitter" href="#"><span>Share</span></a>
                                <a class="smallBtn facebook" href="#"><span>Share</span></a>
                            </li>
                            <li>
                            	<a href="#" class="coverPicture"><img src="../userdata/test9.jpg"></a>
                            	<a class="smallBtn twitter" href="#"><span>Share</span></a>
                                <a class="smallBtn facebook" href="#"><span>Share</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer>
        	<div class="footerBox">
            	<ul>
                	<li><a href="#">Home</a></li>
                	<li><a href="#">Tentang</a></li>
                	<li><a href="#">Berikan Aksi</a></li>
                	<li><a href="#">Dampak BABS di Indonesia</a></li>
                	<li><a href="#">Video</a></li>
                	<li><a href="#">Infografis</a></li>
                    <li><a href="#"><img src="images/logo_unicef.png"></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="menuWrapper">
    	<a href="index.html"><img src="images/logo_tinjutinja.png"></a>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">Tentang</a></li>
                <li><a href="take_action.html">Berikan Aksi</a></li>
                <li><a href="#">Dampak BABS di Indonesia</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Infografis</a></li>
            </ul>
        </nav>
        <ul class="language">
            <li><a href="#">IND</a></li>
            <li><a href="#">ENG</a></li>
        </ul>
        <div class="sosmedBox">
            <ul>
                <li><a href="#" class="twitterBtn">Twitter</a></li>
                <li><a href="#" class="facebookBtn">Facebook</a></li>
                <li><a href="#" class="instagramBtn">Instagram</a></li>
            </ul>
        </div>
        <a href="#"><img src="images/logo_unicef.png"></a>
    </div>
    <div class="popupWrapper">
    	<div class="overlay"></div>
        <div class="popupBox" id="popupVideo">
        	<div class="videoWrapper">
            	<iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
            </div>
            <a href="#" class="closeBtn"></a>
        </div>
    </div>
</body>
</html>
